[submodule "libbpf"]
	path = libbpf
	url = https://github.com/libbpf/libbpf.git
[submodule "bpftool"]
	path = bpftool
	url = https://github.com/libbpf/bpftool
[submodule "tests/vm"]
	path = tests/vm
	url = https://github.com/netgroup/linux-kernel-qemu-setup.git
[submodule "kernel/linux"]
	path = kernel/linux
	url = https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git
